/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
/*End Font*/

/* Start Body */
body {
    background-color: #759aff67;
    color: rgb(14, 14, 14);
    font-family: Rubik, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5rem;
    margin: 0px;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-red {
    background-color: rgb(174, 164, 255);
}

.bg-blue {
    background-color: rgb(50, 64, 102);
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}


/* End Container */

/*Start Logo*/
.logo{
    text-align: center;
}
/*End Logo*/

/*Start Anchor/ hyperlink*/
a:link,
a:visited{
    color: whitesmoke;
    text-decoration: none;

}
a:hover,
a:active{
    color: whitesmoke;
    text-decoration: underline;
}
/*End Anchor/ hyperlink*/

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(50, 64, 102);
    border-radius: 8px;
    box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li{
    border-right: 2px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a{
    color: white;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 5px;
    padding: 13px 25px;
    text-transform: uppercase;
}

.menu-primer a:hover{
    background-color: rgb(255, 255, 255);
    color: white;
    text-decoration: none;
}

.menu-primer .active{
    background-color: rgb(50, 64, 102);
    color: whitesmoke;
    text-decoration: none;
}
/* End Menu Primer */

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
font-weight: 400;
letter-spacing: 1px;
}
h1{
    font-size: 35px;}
h2{
    font-size: 28px;}
h3{
    font-size: 20px;}
h4{
    font-size: 16px;}

h5{
    font-size: 14px;}
h6{
    font-size: 13px;}

/* End Heading*/

/* Start Jumbotron*/
.jumbotron{
    background-color: lightslategray;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 20px 0
}
.jumbotron h1 {
    font-size: 35px;
    padding:0 20px;
}
.jumbotron h3 {
    font-size: 18px;
    padding:0 20px;
}
/* End Jumbotron*/

/*Start Main*/
.main-home-one{
    float: left;
    width: 48%;
}
.main-home-two{
    float: right;
    width: 48%;
}
.main-home-three{
    float: left;
    width: 35%;
    height: 400px;
    
}

.main-home-one .box-isi,
.main-home-two .box-isi{
    height: 150px;
}

/* End Main*/

/* Start Box*/
.box-heading {
    background-color: rgb(50, 64, 102);
    border: 7px solid whitesmoke;
    border-radius: 3px 3px 0 0;
    margin: 0px;
    padding: 12px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 18px;
    margin: 0px;
}

.box-isi{
    background-color: rgb(60, 68, 87);
    border: 7px solid whitesmoke;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box*/   

/*Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: rgb(50, 64, 102);
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4{
    font-size: 22px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul{
    padding: 0;
}
.menu-sekunder li{
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p{
    font-size: 18px
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
    
}
.menu-sekunder-one{
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%
}

.menu-sekunder li img{
    vertical-align: middle;
}
/* End Menu Sekunder*/

/*Start Copyright */
.copyright p {
    font-size: 15 px;
    
}
/*Start Copyright */


/* Start Wow Factor */
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato);
.snip1523 {
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 23.3%;
  max-width: 23.3%;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #1A1A1A;
  display: inline-block;
}

.snip1523 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1523 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1523 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #202123;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.snip1523 h2,
.snip1523 h3,
.snip1523 p {
  margin: 0;
}

.snip1523 h2,
.snip1523 h3 {
  font-family: 'Slabo 27px', serif;
  line-height: 1.2em;
}

.snip1523 h2 {
  font-size: 1.9em;
  color: #35ADF9;
}

.snip1523 h3 {
  color: #EBEBEB;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
}

.snip1523 p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 12px;
  padding: 12px 0 15px;
  line-height: 1.5em;
}

.snip1523 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1523:hover > img,
.snip1523.hover > img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.snip1523:hover figcaption,
.snip1523.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}


/* End Wow Factor */

